# yarn
yarn-debug.log*
yarn-error.log*
# https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# production
dist
storybook-static

# test
coverage

# misc
.DS_Store
.env*
!.env*.example
